html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #00A651;
}

body {
  background-color: #f8f9fa;
}

.table-bordered th,
.table-bordered td {
  border-color: #dee2e6;
}

.form-control:focus,
.form-select:focus {
  border-color: #00A651 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 166, 81, 0.25) !important;
}

.btn-primary {
  background-color: #00A651;
  border-color: #00A651;
}

.btn-primary:hover {
  background-color: #009645;
  border-color: #009645;
}